.hero {
  max-width: 900px;
  margin: 40px auto;
  text-align: center;
  padding: 0 16px;
}

.text {
  font-size: 20px; 
  color: var(--text-color);
  margin-bottom: 8px;
  line-height: 1.5;
}

.divider {
  margin-top: 20px;
  border: none;
  border-top: 1px solid #ccc;
}
