.card {
  display: flex;
  gap: 24px;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  align-items: center;
}

.imageArea {
  width: 40%;
}

.imageArea img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}
.placeholder {
  width: 100%;
  height: 150px;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
}

.infoArea {
  width: 60%;
}

.infoArea p {
  margin-bottom: 12px;
  font-size: 16px;
}
